canvas{
	background-color: #000000;
  position: absolute;
  top: 0px;
  left: 0px;        
}

h1 {color: #fff; font-size: 86px; z-index:5; position: absolute; text-align: center;}
span { z-index:5; position: absolute;}
#preloader  {
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: #ffffff;
     z-index: 99;
    height: 100%;
 }
#status  {
     width: 200px;
     height: 200px;
     position: absolute;
     left: 50%;
     top: 50%;	
     background-image: url(https://lh6.googleusercontent.com/proxy/4rCjrb_rPOBSgJBKVZcHX16YHH-8Ebr7Wa_QSQgivYlSsMsyg3KTKa8MHrEWc7AtQypyAuUg-eCoZLzHkh-UfgXZrH5t3rsB5IDXWbzR=w400-h291-nc);
     /* background-size: 768px 768px; */
     background-repeat: no-repeat;
     background-position: center;
     margin: -100px 0 0 -100px;	
 }
