canvas{
	background-color: #000000;
  position: absolute;
  top: 0px;
  left: 0px;
}

h1 {color: #fff; font-size: 86px; z-index:5; position: absolute; text-align: center;}
span { z-index:5; position: absolute;}
.hameid-loader-overlay{width:100%;height:100%;background:url('css/335.gif') center no-repeat #000000;z-index:99999;position:fixed;}
